.hide {
  opacity: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.hideR {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  opacity: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.hideL {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  opacity: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.show {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}